<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TestWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TestWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44372/TestWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TestWebServiceSoap"
                contract="ServiceReference1.TestWebServiceSoap" name="TestWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>